# Package configuration
/app/config/packages/*/local/*
/app/config/packages/*/*/local/*
/app/config/packages/*/awesome/*
/app/config/packages/*/*/awesome/*

# Laravel
/bootstrap/compiled.php
/bootstrap/environment.php
/public/packages/*
.env.local.php
.env.php

# Composer
vendor/*
composer.phar

# Node.js
node_modules/*
