# Laravel
/public/storage/*
/public/packages/*
/.env
/Envoy.blade.php

# Composer
/vendor/*
/composer.phar

# Node.js
/node_modules/*

# Vagrant
/.vagrant/
/Homestead.yaml

# PHP-CS-Fixer
.php_cs.cache
