[submodule "docs/2.0"]
	path = docs/2.0
	url = https://github.com/orchestral/docs.git
[submodule "docs/2.1"]
	path = docs/2.1
	url = https://github.com/orchestral/docs.git
[submodule "docs/2.2"]
	path = docs/2.2
	url = https://github.com/orchestral/docs.git
