#docs {

	#toc {
		font-family: $sourceSans;
		background: #f4f8fA;
		border-right: 1px solid #dadfe5;
		overflow: hidden;
		overflow-y: auto;
		margin-top: -15px;
		padding: 10px 0 0;

		h3 {
			font-size: 20px;
			padding: 0 0 0 10px;
		}

		> ul {
			> li {
				border-bottom: 1px solid #dadfe5;
				padding: 10px 15px 5px 15px;
				font-weight: bold;

				ul a {
					font-weight: normal;
					padding: 5px 0;
				}
			}

		}

		ul {
			font-size: 14px;
			list-style: none;
			margin: 0;
			padding: 0;

			li {
				display: block;
				clear: both;

				a {
					color: #3391C9;
					display: block;
				}

				li a {
					padding-left: 10px;

					li a {
						padding-left: 20px;
					}
				}
			}
		}
	}

	#content {
		font-family: $sourceSans;
		font-size: 15px;
		background: #fff;
		padding: 0px 30px 80px;

		.page-header {
			h1 small {
				float: right;
			}
		}

		h2 {
			border-bottom: 1px solid #eee;
			padding: 0 0 10px;
		}

		h3 {
			padding: 0 0 10px;
		}
	}
}
