@import "../../../vendor/css/partials/pages/index4";

#home4 {
	#hero {
		background-image: url("../images/bg.png");

		.cta a {
			&.blog, &.documentation {
				color: #fff;
				-webkit-font-smoothing: antialiased;
				font-size: 16px;

				@media (max-width: 767px) {
					font-size: 16px;
				}
			}
		}
	}
}
