	<link type="text/css" href="/assets/uikit/css/uikit.min.css" rel="stylesheet">
	<link type="text/css" href="/assets/uikit/css/uikit.gradient.min.css" rel="stylesheet">

	<link type="text/css" href="/assets/themes.css" rel="stylesheet">
	<script src="/assets/jquery.min.js"></script>
	<script src="/assets/uikit/js/uikit.min.js"></script>
	<script src="/assets/prettify.js"></script>
	<script src="/assets/themes.js"></script>
	
	<!--
	link href='http://fonts.googleapis.com/css?family=Roboto:400,400italic,700,700italic,500italic,500,300italic,300' rel='stylesheet' type='text/css'
	-->
