	<footer>
		<div class="uk-container uk-container-center uk-margin">
			<div class="uk-float-left">
				<p>&copy; 2013 Orchestra Platform. All rights reserved.</p>
			</div>
			<div class="uk-float-right">
				<a class="uk-icon-button uk-icon-github" href="https://github.com/orchestral"></a>
				<a class="uk-icon-button uk-icon-twitter" href="http://twitter.com/getorchestra"></a>
			</div>
		</div> 
	</footer>
	<div id="quick-install" class="uk-modal">
		<div class="uk-modal-dialog uk-modal-dialog-slide">
			<div class="uk-modal-close uk-close"></div>
			<h1>Quick Installation</h1>
			<pre>composer create-project orchestra/platform your-website</pre>
		</div>
	</div>

	<script type="text/javascript">

	var _gaq = _gaq || [];
	_gaq.push(['_setAccount', 'UA-39179956-1']);
	_gaq.push(['_trackPageview']);

	(function() {
	var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	})();

	</script>

