<footer class="footer muted">
	<div class="container">
		<div class="footer-wrapper">
			<ul class="nav inline pull-right">
				<li><a href="#">Follow us on Twitter</a></li>
			</ul>
			&copy; Orchestra Platform 2013. All rights reserved.
		</div>
	</div>
</footer>


<!-- SCRIPTS: BASE -->
<script src="/assets/scripts/jquery-1.9.1.min.js"></script>
<script src="/assets/scripts/jquery-ui-1.10.1.custom.min.js"></script>
<script src="/assets/bootstrap/js/bootstrap.min.js"></script>
<script src="/assets/scripts/theme.js"></script>
