	<footer>
		<div class="uk-container uk-container-center uk-margin">
			<div class="uk-float-left">
				<p>&copy; 2013 Orchestra Platform. All rights reserved.</p>
			</div>
			<div class="uk-float-right">
				<a class="uk-icon-button uk-icon-github" href="https://github.com/orchestral"></a>
				<a class="uk-icon-button uk-icon-twitter" href="http://twitter.com/getorchestra"></a>
			</div>
		</div> 
	</footer>
	<div id="quick-install" class="uk-modal">
		<div class="uk-modal-dialog uk-modal-dialog-slide">
			<div class="uk-modal-close uk-close"></div>
			<h1>Quick Installation</h1>
			<pre>composer install orchestra/platform your-website</pre>
		</div>
	</div>
