	<nav class="tm-navbar uk-navbar uk-navbar-attached">
		<div class="uk-container uk-container-center">
			<a href="/" class="uk-navbar-brand">Orchestra Platform</a>
			<div class="uk-navbar-flip">
				<ul class="uk-navbar-nav">
					<li><a href="/">Home</a></li>
					<li><a href="/blogs/">Blog</a></li>
					<li class="uk-parent" data-uk-dropdown>
						<a href="#">Documentation</a>
						<div class="uk-dropdown uk-dropdown-navbar">
							<ul class="uk-nav uk-nav-navbar">
								<li><a href="/docs/2.0/">Version 2.x</a></li>
								<li><a href="/docs/1.0/">Version 1.x</a></li>
							</ul>
						</div>
					</li>
					<li class="uk-nav-divider"></li>
					<li class="uk-parent"><a href="#quick-install" data-uk-modal>Download</a></li>
				</ul>
			</div>
		</div>
	</nav>
