<div class="navbar navbar-static-top">
	<div class="navbar-inner">
		<button type="button" class="btn btn-inverse btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
			<i class="icon-reorder"></i>
		</button>
		<h1 class="brand">
			<a href="/">Orchestra Platform</a>
		</h1>
		<div class="nav-collapse collapse">
			<ul class="nav pull-right">
				<li><a href="/">Home</a></li>
				<li><a href="/blogs/">Blog</a></li>
				<li><a href="/docs/2.0">Documentation</a></li>
				<li class="divider"></li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">Download</a>
					<ul class="dropdown-menu pull-right">
						<li>
							<a href="https://github.com/orchestral/platform/archive/master.zip">2.0</a>
						</li>
						<li>
							<a href="https://github.com/orchestral/platform/archive/laravel.zip">1.2</a>
						</li>
					</ul>
				</li>
			</ul>
		</div>

	</div>
</div>
