<div class="widget">
	<h3>Stay Updated</h3>
	<p>To get latest update related to Orchestra Platform, do subscribe to us.</p>
	<a href="/blogs/feed.xml" class="btn btn-smalls">
		Subscribe to Feed
	</a>
	<a href="http://twitter.com/getorchestra" class="btn btn-smalls">
		Subscribe to Twitter
	</a>
</div>

<div class="widget">
	<h3>Getting Started Tutorial</h3>
	<p>Sometimes documentation is never enough, we have provide a series of tutorial to get you started with Orchestra Platform.</p>
	<ol>
		<li><a href="/blogs/2013/06/01/simple-website-1/">Installation</a></li>
		<li><a href="/blogs/2013/06/01/simple-website-2/">Creating a Extension</a></li>
		<li><a href="/blogs/2013/06/01/simple-website-3/">Role Based Access Control</a></li>
		<li><a href="/blogs/2013/06/02/simple-website-4/">Resource Using Restful Controller</a></li>
		<li><a href="/blogs/2013/06/12/simple-website-5/">Resource Using Resource Controller</a></li>
		<li><a href="/blogs/2013/06/13/simple-website-6/">Introduction to Orchestra Control</a></li>
		<li><a href="/blogs/2013/07/28/simple-website-7/">Managing Corrupted Extension</a></li>
	</ol>
</div>
