	<div class="tm-teaser">
		<div class="uk-container uk-container-center uk-text-center">
			<h2>What is Orchestra Platform?</h2>
			<p class="uk-text-large">
				Orchestra Platform provide a solid base off of which to build your new web applications.
				<br class="uk-hidden-small"> 
				It's not a CMS. Instead, it's a springboard to build off of with many of
				<br class="uk-hidden-small">  
				the tools you wish you had on projects but never took the time to build.
			</p>
			<a href="#quick-install" class="uk-button tm-button-download" data-uk-modal>Download Orchestra Platform</a>
			<ul class="uk-subnav">
				<li>Version {{ site.latest_version }}</li>
			</ul>
			<br>
			<iframe src="http://ghbtns.com/github-btn.html?user=orchestral&amp;repo=foundation&amp;type=watch&amp;count=true" 
			 allowtransparency="true" frameborder="0" scrolling="0" width="110" height="20"></iframe>
			<iframe src="http://ghbtns.com/github-btn.html?user=orchestral&amp;repo=foundation&amp;type=fork&amp;count=true" 
			 allowtransparency="true" frameborder="0" scrolling="0" width="95" height="20"></iframe>
		</div>
	</div>

	<!-- div class="tm-teaser laravel">
		<div class="uk-container uk-container-center uk-text-center">
			<h2>Built on top of Laravel</h2>
			<p class="uk-text-large">
				Laravel is a web application framework with expressive, elegant syntax. We believe development must be an enjoyable, creative experience to be truly fulfilling. Laravel attempts to take the pain out of development by easing common tasks used in the majority of web projects, such as authentication, routing, sessions, and caching.
			</p>
		</div>
	</div -->
