---
layout: blog
title: Blog
lead: Orchestra Platform Official Blog

---

<section class="section blog">
	<div class="row-fluid">
		<div class="span7">
			{% for post in paginator.posts %}
			<article class="post">
				<div class="post-head">
					<h2 class="post-title">
						<a href="{{ post.url }}">{{ post.title }}</a>
					</h2>
					<p class="post-meta muted">
						<span><i class="icon-calendar"></i>{{ post.date | date: "%B %d, %Y" }}</span>
						{% if post.author and post.author.name %}
						<span>
							<i class="icon-user"></i>
							{% if post.author.url %}
								<a href="{{ post.author.url }}" target="_blank">{{ post.author.name }}</a>
							{% else %}
								{{ post.author.name }}
							{% endif %}
						</span>
						{% endif %}
					</p>
				</div>
				<div class="post-body">
					{{ post.excerpt }}
				</div>
				<div class="post-foot">
					<span><a href="{{ post.url }}" class="btn">Read More</a></span>
				</div>
			</article>
			{% endfor %}

			<div class="pager">
				{% if paginator.previous_page %}
				{% if paginator.previous_page == 1 %}
					<a href="/">Previous</a>
				{% else %}
					<a href="/page{{paginator.previous_page}}">Previous</a>
				{% endif %}
				{% endif %}
				{% if paginator.next_page %}
					<a href="/page{{paginator.next_page}}">Next</a>
				{% endif %}
			</div>
		</div>
		<div class="span5">
			{% capture sidebar %}{% include sidebar.html %}{% endcapture %}
			{{ sidebar }}
		</div>
	</div>
</section>
