#footer {
	clear: both;

	.menu {
		ul {
			float: right;
		}
	}

	.social {
		margin-top: 5px;
	}
}

.navbar.hero .navbar-nav > li ul.dropdown-menu {
	border-radius: 0px;
}

pre {
	background: #330;
}
