@mixin featured-bg {
    background: #202020 url(/resources/img/bg-featured.jpg) no-repeat;
    background-size: 100%;
    background-position: 100% 0%;
}

@mixin block-code {
    background: #1B1A20;
    border:none;
    border-radius: 3px;
    padding: 20px;
    margin:10px 0 20px;

    code {
        background: transparent;
        background: none;
        color: rgba(255, 255, 255, 0.85);
        color: $green;
    }
}
