$fa-font-path: "/fonts" !default;
$icon-font-path: '/fonts/' !default;

$font-family-sans-serif:  "Lato", Helvetica, sans-serif;
$font-size-base: 13px;

$img-path: '/img' !default;

$text-color: #525252;
$text-base-color: #333;
$text-light-color: #34495e;
$text-anchor-active-color: #F9604C;
$text-anchor-base-color: #A7B3C2;

$white: #fff;
