<!DOCTYPE html>
<html lang="en"><head>
	<meta charset="utf-8">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{% if page.title %}{{page.title}} - {% endif %}Orchestra Platform</title>
	<!-- BOOTSTRAP -->
	<link type="text/css" href="/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link type="text/css" href="/assets/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
	<!-- THEME -->
	<link type="text/css" href="/assets/css/theme.css" rel="stylesheet">
	<!--ICONS-->
	<link type="text/css" href="/assets/icons/font-awesome/css/font-awesome.css" rel="stylesheet">
	<link type="text/css" href="/assets/icons/linecons/style.css" rel="stylesheet">
	<!--FONTS-->
	<link href='http://fonts.googleapis.com/css?family=Roboto:400,400italic,700,700italic,500italic,500,300italic,300' rel='stylesheet' type='text/css'>
</head>
<body>
	<div class="above">
		<header class="header">
			<div class="container">
				<div class="header-wrapper">
					{% capture header %}{% include header.html %}{% endcapture %}
					{{ header }}
				</div>
			</div>
		</header>

		<div class="container">
			<div class="above-wrapper">
				<section class="section page-headlines text-center">
					<h2>{{ page.title }}</h2>
					{% if page.lead %}<div class="lead">{{page.lead}}</div>{% endif %}
				</section>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="content-wrapper">
			<section class="section docs">
				<div class="row-fluid">
					<div class="span3 sidebar">
						{% capture sidebar %}{% include sidebar-docs2.0.md %}{% endcapture %}
						{{ sidebar|markdownify }}
					</div>
					<div class="span9">
						{{ content }}
					</div>
				</div>
			</section>
		</div>
	</div>

	{% capture footer %}{% include footer.html %}{% endcapture %}
	{{ footer }}
</body>
