<!DOCTYPE html>
<html lang="en">
<head>
	{% capture asset %}{% include asset.html %}{% endcapture %}
	{% capture header %}{% include header.html %}{% endcapture %}
	{% capture sidebar %}{% include sidebar-docs1.0.md %}{% endcapture %}
	{% capture lead %}{% include lead.html %}{% endcapture %}
	{% capture footer %}{% include footer.html %}{% endcapture %}

	<meta charset="utf-8">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{% if page.title %}{{page.title}} - {% endif %}Orchestra Platform</title>
	{{ asset }}

</head>
<body>
	{{ header }}
	{{ lead }}
	<div class="uk-container uk-container-center">
		<div class="uk-grid">
			<div class="uk-width-large-1-4">
				<div class="uk-panel uk-panel-box tm-doc-sidebar">
					{{ sidebar|markdownify }}
				</div>
			</div>
			<div class="uk-width-large-3-4">
				{{ content }}
			</div>
		</div>
	</div>
	{{ footer }}
</body>
</html>
