<!DOCTYPE html>
<html lang="en">
<head>
	{% capture asset %}{% include asset.html %}{% endcapture %}
	{% capture header %}{% include header.html %}{% endcapture %}
	{% capture teaser %}{% include teaser.html %}{% endcapture %}
	{% capture footer %}{% include footer.html %}{% endcapture %}

	<meta charset="utf-8">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{% if page.title %}{{page.title}} - {% endif %}Orchestra Platform</title>
	{{ asset }}

</head>
<body>
	{{ header }}
	{{ teaser }}
	{{ content }}
	{{ footer }}
</body>
</html>
